﻿@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret</title>
</head>
<body>
    <div>
        This is a secret view
        <h3>@ViewBag.Message</h3>
    </div>
</body>
</html>