﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public View</title>
</head>
<body>
    <div>
        This is Public View
    </div>
</body>
</html>